<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">
	                   <h3 class="panel-title" style="text-align: center"><b>RESET PASSWORD</b></h3>
					</div>
                    
				<div class="panel-body">
					<img src="/assets/images/labjump_logo.png" style="text-align: center;margin: 10px;height: 2vw; width: 9vw;">
					<form role="form">
						<fieldset>
							<div class="form-group">
								<input ng-model="password"
									placeholder="NEW PASSWORD" type="password"
									id="password" class="form-control" required autofocus />
							</div>
							<div>
								<input ng-model="confpassword"
									placeholder="CONFIRM PASSWORD"
									type="password" class="form-control" required />
							</div>
							<span ng-show="password !== confpassword" style="color:red">Password mismatch</span>
							<br/>
							<div class="form-group">
								<input type="submit" ng-click="update()" ng-disabled="password !== confpassword"
									value="UPDATE"
									class="btn btn-warning btn-block" />
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

