<ul class="nav navbar-top-links navbar-right">
	<li style="width:35vw"> <h4><!-- <span id ="userID"></span> --></h4> </li>

 	<li>  Welcome {{loginID}} &nbsp; </li>
 	<li><a ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
    <!-- <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
        	 <li><a ng-click="onSwitchMode(mode)" ng-hide=mode==0><i class="fa fa-exchange fa-fw"></i> Switch to {{mode}}</a>
           	 </li>
            <li><a ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
        </ul>
    </li> -->
</ul>


